/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: white;
  text-decoration: none;
}
p {
  font-size: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon-text {
  font-size: 20px;
  line-height:18px;
}
.material-icons{
  display: inline-flex;
  vertical-align: top;
}

/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}
