<div style="padding: 15px">
  <mat-card *ngIf="post" style="margin: 10px; color: black; background-color: white">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="max-height: 500px">
    <mat-card-content style="font-size: 1rem;">
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="mat-subheader">
          <mat-icon class="material-icons">query_builder</mat-icon><span class="icon-text">{{post.createdAt | date:'longDate'}}</span>
        </div>
        <div class="break"></div>
        <div class="mat-display-2" style="margin: 20px 0px">{{post.title}}</div>
        <div class="break"></div>
        <div class="mat-headline material-icons"><mat-icon>person</mat-icon><span class="icon-text">{{post.author.name}}</span></div>
      </div>
      <hr>
      {{post.description}}
      <p>
        The Himalayas is a mountain range in Asia.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor, nibh sit amet fringilla porta, dolor risus feugiat nibh, id porta libero nibh ac massa. In faucibus elit lacinia purus eleifend condimentum. Mauris ut nisl risus. Maecenas sit amet elit velit. Integer dapibus odio id lacinia dignissim. Donec dignissim vitae sapien et interdum. Curabitur placerat tincidunt neque nec luctus. Ut dapibus quam pulvinar odio viverra iaculis. Ut ultrices sem mauris, non semper ex sollicitudin non. Duis eget nulla urna. Vestibulum orci purus, commodo ut tortor eget, convallis pharetra diam. Quisque ultricies nisi egestas lacinia mattis.
      </p>
      <p>
        Vivamus finibus risus hendrerit dapibus mollis. Praesent vehicula nisi ac quam sodales, ac elementum orci vehicula. Donec mattis, orci quis vehicula euismod, neque nisl varius diam, ut ultricies eros urna at odio. Maecenas tristique vitae nisi luctus iaculis. Vestibulum sed libero ac ante faucibus rutrum at vitae sem. Vestibulum commodo convallis enim, vitae semper enim commodo et. Ut aliquet aliquet lacus eget lacinia. Sed finibus, quam non ullamcorper tempus, dui nibh finibus nisl, sit amet commodo dui leo quis justo. Suspendisse potenti.
      </p>
      <p>
        Vestibulum eleifend, orci vel sodales rhoncus, lorem massa faucibus diam, sed laoreet enim nisl a ligula. Etiam lobortis accumsan nulla ut molestie. Donec semper arcu at purus aliquam, eget egestas risus pellentesque. Mauris bibendum lacus magna, nec porta est sodales nec. Aenean pretium imperdiet libero sed molestie. Nam metus ante, blandit at venenatis at, laoreet in lacus. Nunc nibh arcu, lacinia nec dapibus a, vehicula nec neque. Sed et aliquam augue. Aenean suscipit, est eu viverra ultricies, sem est lacinia massa, id aliquam nulla ipsum nec turpis. Aenean tristique non nibh nec vulputate. Aenean malesuada est ac hendrerit feugiat. Duis at dolor nulla. Morbi condimentum cursus arcu, vel rutrum magna imperdiet nec.
      </p>
      <p>
        In mi magna, ultricies nec ipsum vestibulum, faucibus ullamcorper elit. Nullam consectetur nibh nulla, nec gravida erat viverra ut. Donec varius leo in erat cursus, ac tristique nibh eleifend. Fusce sit amet enim at urna vehicula auctor. In tincidunt facilisis iaculis. Morbi sem nisi, consectetur id ligula a, blandit dapibus nunc. Maecenas ultricies elit id tortor laoreet mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque accumsan sapien aliquet elit rhoncus gravida.
      </p>
    </mat-card-content>
    <hr>
    <mat-card-actions>
      <button (click)="upVote()" mat-raised-button><mat-icon>arrow_upward</mat-icon>{{post.upVote}}</button>
      <button (click)="downVote()" mat-raised-button><mat-icon>arrow_downward</mat-icon>{{post.downVote}}</button>
    </mat-card-actions>
  </mat-card>
</div>

<div style="padding: 10% 20%">
  <mat-card *ngIf="loginNeeded">
    <mat-card-content>
      <p><b>Only logged user can comment</b></p>
      <button (click)="redirectToLogin()" mat-stroked-button color="primary">
        <mat-icon>login</mat-icon><span class="icon-text">Login</span>
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!loginNeeded">
    <mat-card-content>
      <mat-form-field class="full-width" style="width: 90%">
        <input #text name="text" type="text" matInput placeholder="Write a comment">
      </mat-form-field>
      <button (click)="makeComment(text.value)" type="submit" mat-raised-button color="primary" class="center" fxLayoutAlign="center">
        <mat-icon>login</mat-icon><span class="icon-text">Comment</span>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let comment of comments" style="margin-top: 5%">
    <mat-card-header>
      <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308460-stock-illustration-unknown-person-silhouette-profile-picture.jpg" alt="" width="40px">
      <h3>{{comment.commenter.name}}</h3>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>{{comment.text}}</p>
      <br>
      <h4>{{comment.commentedAt | date: 'medium'}}</h4>
    </mat-card-content>
  </mat-card>
</div>
